In [5]:
import numpy as np
import pandas as pd
import plotly.express as px

In [6]:
df = pd.read_csv("data/data.csv", encoding='latin-1')

In [8]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [9]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [28]:
# extract myd from InvoiceDate

df['myd'] = df['InvoiceDate'].dt.strftime('%Y-%m-%d')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,myd
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,2011-12-09
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2011-12-09
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,2011-12-09
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,2011-12-09
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,2011-12-09

In [29]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
myd                    object
dtype: object

In [14]:
import datetime

In [15]:
min_date = datetime.datetime(2020,1,1)
max_date = datetime.date(2022,1,1)

In [16]:
# split myd into year, month, day

df['year'] = df['myd'].str.split('-').str[0]

(datetime.datetime(2020, 1, 1, 0, 0), datetime.date(2022, 1, 1))

In [33]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
myd                    object
dtype: object

In [57]:
min = df['myd'].min().split('-')
max = df['myd'].max().split('-')

In [43]:
min

['2010', '12', '01']

In [55]:
max = df.myd.max()

In [58]:
min, max

(['2010', '12', '01'], ['2011', '12', '09'])

In [38]:
str(min).str.split('-').str[0]

AttributeError: 'str' object has no attribute 'str'

In [54]:
max[1]

'0'

In [61]:
# extract min value from myd and convert to datetime

min_date = datetime.date(int(min[0]), int(min[1]), int(min[2]))
max_date = datetime.date(int(max[0]), int(max[1]), int(max[2]))

In [66]:
# Filter df base on min and max date

df = df[(df['InvoiceDate'] >= pd.to_datetime(min_date)) & (df['InvoiceDate'] <= pd.to_datetime(max_date))]

In [46]:
min = datetime.date(min[0].astype(int), min[1].astype(int), min[2].astype(int))

AttributeError: 'str' object has no attribute 'astype'

In [17]:
df.myd = pd.to_datetime(df.myd)

In [18]:
type(min_date)

datetime.datetime

In [19]:
type(df.myd)

pandas.core.series.Series

In [20]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,myd
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,2011-12-09
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2011-12-09
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,2011-12-09
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,2011-12-09
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,2011-12-09

In [21]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
myd            datetime64[ns]
dtype: object

In [22]:
min = df['myd'].min()

In [24]:
min = datetime.datetime(min)

TypeError: 'Timestamp' object cannot be interpreted as an integer